.col-sm-12{
    background-color:rgb(103, 88, 82) ;
}
#mycontainer{
    margin-top: 5%;
    background-color:rgb(103, 88, 82) ;
color: white;
}
#row1{
    background-image: url(contacthome.jpg);
    width: 100%;
    height: 600px;
    background-repeat: no-repeat;
    background-attachment: fixed;
background-size: 100%;
}
h1{
    font-family:'Times New Roman', Times, serif;
    color: rgb(131, 113, 91);
    padding-top: 5%;
}