.col-sm-12{
    background-color:rgb(103, 88, 82) ;
}
#mycontainer{
    background-color:rgb(103, 88, 82) ;
color: white;
}
h1{
    padding-top: 3%;
    font-family:'Times New Roman', Times, serif;
    color: rgb(131, 113, 91);
}
#myimage1 img{
    height: 100%;
    width: 100%;
}
#myimage img{
    height: 100%;
    width: 100%; 
}